:root{
    --energyBlack: #090909;
    --energyBlue: #10389F;
    --energyWhite: #FFFFFF;
    --btnColor: #2149ae;
    --voucherRed: #d60b13;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.countDown-wrapper{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}

.countDown-wrapper .countDown{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.countDown-wrapper .countDown .count{
    border-radius: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--voucherRed);
    color: var(--energyWhite);
}

.countDown-wrapper .countDown .count p{
    font-size: 25px;
    color: var(--energyWhite);
    text-align: center;
    font-weight: 700;
}



@media (max-width: 500px){

    .countDown-wrapper{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }
    
    .countDown-wrapper .countDown{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    
    .countDown-wrapper .countDown .count{
        border-radius: 4px;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--voucherRed);
        color: var(--energyWhite);
    }
    
    .countDown-wrapper .countDown .count p{
        font-size: 20px;
        color: var(--energyWhite);
        text-align: center;
        font-weight: 700;
    }
}